$popins-font: "Poppins", sans-serif;
$inter-font: "Inter", sans-serif;
$grotesk: "Space Grotesk", sans-serif;

.title {
    max-width: 832px;
    margin: auto;
    margin-top: 80px;

    &__cart {
        display: flex;
        justify-content: center;

        h1 {
            color: #000000;
            font-family: $popins-font;
            font-weight: 500;
            font-size: 5.4rem;
        }
    }

    &__process {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin-top: 40px;

        p {
            font-family: $inter-font;
            font-size: 1.6rem;
            font-weight: 600;
            padding-right: 70px;
            color: #B1B5C3;
        }

        span {
            background-color: #B1B5C3;
            color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.6rem;
            font-weight: 600;
            font-family: $inter-font;
            margin-right: 17px;
        }

        &--first {
            display: flex;
            align-items: center;
            padding-bottom: 26px;

            span {
                background-color: #000000;

            }

            border-bottom: 2px solid #141718;

            p {
                color: #000000;
            }

        }

        &--second {
            display: flex;
            align-items: center;
            padding-bottom: 26px;
        }

        &--third {
            display: flex;
            align-items: center;
            padding-bottom: 26px;

            p {
                padding-right: 0;
            }
        }
    }

}

.card-poducts {
    max-width: 643px;
}

.cart {
    max-width: 1120px;
    margin: auto;
    margin-block: 80px;
    padding-inline: 20px;

    .cart__product {
        max-width: 643px;

        .cart__tableHeader {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #6C7275;

            p {
                color: #121212;
                font-size: 1.6rem;
                font-family: $inter-font;
                font-weight: 600;
            }

            .priceOptions {
                display: flex;
                gap: 7.4rem;
                padding-bottom: 24px;
            }
        }
    }
}

.cart__product1 {
    margin-block: 24px;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    border-bottom: 1px solid #E8ECEF;

    .info {
        display: flex;
        flex-direction: column;
        margin-top: 7px;
        gap: 12px;

        h3 {
            font-family: $inter-font;
            font-weight: 600;
            font-size: 1.4rem;
        }

        p {
            color: #6C7275;
            font-size: 1.2rem;
            font-family: $inter-font;
            font-weight: 400;

        }

        button {
            background-color: transparent;
            border-style: none;
            cursor: pointer;
            display: flex;
            color: #605F5F;
            align-items: center;
            font-size: 1.4rem;

            span {
                font-size: 2rem;
                font-weight: 900;
                margin-right: 5px;
            }

        }
    }
}

.cart__quantity {
    margin-left: 130px;

    p {
        font-size: 1.2rem;
        font-family: $inter-font;
        font-weight: 600;
        display: flex;
        align-items: center;
        border: 1px solid #6C7275;
        border-radius: 4px;
        padding: 6px 8px;

        span {
            font-size: 1.2rem;
            padding-inline: 8px;

        }
    }
}

.price {
    font-size: 1.8rem;
    font-family: $inter-font ;
    color: #121212;
    margin-left: 43px;


}

.subtotal {
    font-size: 1.8rem;
    font-family: $inter-font;
    font-weight: 600;
    margin-left: 43px;
}

.cart__elements {
    display: flex;
    gap: 64px;

    .cart-summary {
        border: 1px solid #6C7275;
        border-radius: 6px;
       
        // max-width: 413px;
        // width: 100%;
        margin-top: -45px;

        h3 {
            margin-top: 24px;
            margin-inline: 24px;
            margin-bottom: 16px;
            color: #141718;
            font-size: 2rem;
            font-family: $popins-font;
            font-weight: 500;
        }

        .forms {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-inline: 24px;
            max-width: 365px;
            margin: auto;
            width: 90%;
            gap: 12px;

            button {
                width: 100%;
                background-color: #141718;
                border-style: none;
                border-radius: 8px;
                color: white;
                padding-block: 1.2rem;
                font-size: 1.8rem;
                font-family: $inter-font;
                font-weight: 500;
                margin-top: 32px;
                margin-bottom: 24px;
            }

            label {
                width: 100%;
                color: #141718;
                font-family: $inter-font;
                font-size: 1.6rem;
                margin-left: 12px;

            }

            .subtotalForm {
                border-bottom: 1px solid #EAEAEA;
                margin-top: 13px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                h4 {
                    padding-bottom: 13px;
                    font-family: $inter-font;
                    font-size: 1.6rem;
                    font-weight: 400;

                }

                p {
                    font-family: $inter-font;
                    font-family: 1.6rem;
                    font-weight: 600;
                    color: #121212;
                }
            }

            .subtotalForm p {
                font-size: 1.6rem;
                font-family: $inter-font;
                font-family: 1.6rem;
                font-weight: 600;
                color: #121212;
            }

            .totalForm {
                display: flex;
                align-items: center;
                justify-content: space-between;

                h4 {
                    font-family: $inter-font;
                    font-weight: 600;
                    font-size: 2rem;
                }
            }

            .totalForm p {
                font-size: 2rem;
                color: #141718;
                font-weight: 600;
                font-family: $inter-font;
            }


            div {
                display: flex;
                align-items: center;
            }

            .option-price {
                margin-left: 90px;

                p {
                    color: #141718;
                    font-family: $inter-font;
                    font-size: 1.6rem;
                }
            }

            .option-1 {
                border: 1px solid #141718;
                border-radius: 4px;
                // background-color: #F3F5F7;
                padding: 13px 16px;

            }

            .option-2 {
                border: 1px solid #141718;
                border-radius: 4px;
                // background-color: #F3F5F7;
                padding: 13px 16px;

            }

            .option-3 {
                border: 1px solid #141718;
                border-radius: 4px;
                // background-color: #F3F5F7;
                padding: 13px 16px;

            }



        }
    }
}

// input:checked .option-1{
//     background-color:#6C7275 ;
// }
// label:active div{
//     background-color: #000000;
// }

.footer-bottom {
    background-color: #141718;
    width: 100%;
    margin-top: 80px;

    .footer-bottom-1 {
        padding-top: 80px;
        margin-inline: 160px;
        // padding-inline: 160px;
        display: flex;
        justify-content: space-between;
        // justify-content: center;
        align-items: center;

        .logo-part {
            display: flex;
            align-items: center;

            .stick {
                margin-left: 32px;
                margin-right: 32px;
            }

            p {
                font-family: $inter-font;
                font-weight: 400;
                font-size: 1.4rem;
                color: #E8ECEF;
                // margin-left: 32px;
                // padding-left: 32px;


            }
        }

        .footer-navbar {
            display: flex;

            ul {
                display: flex;
                gap: 40px;

                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-size: 1.4rem;
                        font-family: $inter-font;
                        color: #FEFEFE;
                    }
                }
            }
        }
    }
}

.footer-bottom-2 {
    margin-top: 49px;
    margin-inline: 160px;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 52px;
    border-top: 0.5px solid #6C7275;

    .copyright {
        display: flex;
        gap: 28px;

    }

    .social-icons {
        display: flex;
        gap: 24px;

    }
}

.copyright p:first-child {
    color: #E8ECEF;
    font-size: 1.2rem;
    font-family: $popins-font;

}
.media-price{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 13px;
    display: none;
    p{
        font-size: 1.4rem;
        font-family: $inter-font;
        font-weight: 600;
    }
    span{
        color: #6C7275;
        font-weight:800;
        font-size: 2.2rem;
        display: flex;
        justify-content: end;
    }
}



.quantity-button{
    font-size: 1.2rem;
    font-family: $inter-font;
    font-weight: 600;
    display: flex;
    align-items: center;
    border: 1px solid ;
    border-radius: 4px;
    padding: 6px 8px;
    display: none;
    span {
        font-size: 1.2rem;
        padding-inline: 8px;
       

    }
}

.copyright p:nth-child(2) {
    color: #FEFEFE;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $popins-font;
}

.copyright p:nth-child(3) {
    color: #FEFEFE;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: $popins-font;
}
.coupon{
    
    margin-top: 80px;
    max-width: 424px;
    h4{
        font-size: 2rem;
        font-family: $popins-font;
        color: #141718;
        font-weight: 500;
    }
    P{
        color: #6C7275;
        font-family: $inter-font;
        font-size: 1.6rem;
        margin-top: 7px;
    }
    .coupon__form{
        border: 1px solid #6C7275;
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
        margin-top: 16px;
        .input-label{
            display: flex;
            gap: 8px;
           
            margin-block: 14px;
            input{
                outline: none;
                border: none;
                font-size: 1.6rem;
                font-weight: 500;
                font-family: $inter-font;
                color: #6C7275;
            }
        }
        button{
           border-style: none;
           background-color: transparent;
           font-size: 1.6rem;
           color: #141718;
           font-family: $inter-font;
           font-weight: 500;
        }
        
    }
}
.coupon-media{
    
    margin-top: 80px;
    max-width: 424px;
    display: none;
    h4{
        font-size: 2rem;
        font-family: $popins-font;
        color: #141718;
        font-weight: 500;
    }
    P{
        color: #6C7275;
        font-family: $inter-font;
        font-size: 1.6rem;
        margin-top: 7px;
    }
    .coupon__form{
        border: 1px solid #6C7275;
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
        margin-top: 16px;
        .input-label{
            display: flex;
            gap: 8px;
           
            margin-block: 14px;
            input{
                outline: none;
                border: none;
                font-size: 1.6rem;
                font-weight: 500;
                font-family: $inter-font;
                color: #6C7275;
            }
        }
        button{
           border-style: none;
           background-color: transparent;
           font-size: 1.6rem;
           color: #141718;
           font-family: $inter-font;
           font-weight: 500;
        }
        
    }
}

@media (max-width:1060px) {

    .footer-bottom-2 {
        flex-direction: column-reverse;
        align-items: center;

        .copyright {
            flex-direction: column-reverse;
            align-items: center;
            margin-top: 32px;

            .privacy {
                display: flex;
                gap: 28px;
            }
        }
    }

}

@media (max-width:1060px) {
    .footer-bottom-1 {
        margin-right: 50px;
        flex-direction: column;

        .logo-part {
            flex-direction: column;
            align-items: center;
        }

        .footer-navbar ul {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin-top: 40px;
            width: 100px;
        }

        .stick {
            rotate: 270deg;
        }

    }

}

@media (max-width:590px) {
    .footer-bottom-2 {
        margin-inline: 0px;
    }

    .footer-bottom-1 {

        // margin-inline: 0px;
        .logo-part {
            margin-inline: -100px;
        }
    }

}

@media screen and (max-width: 520px) {
    .sign-up {
        width: 30rem;
        gap: 0;

        P {
            font-size: 1.5rem;
        }

        button {
            font-size: 1.5rem;
        }
    }

    .footer-top {
        background-image: none;
        background-color: #F2F4F6;

        .footer-container {
            h3 {
                font-size: 2.8rem;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }

}


@media only screen and (max-width: 750px) {
    .title__process--third {
        display: none;
    }

    .title__process {
        margin-top: 24px;
        justify-content: space-between;
        padding-inline: 20px;
        width: 100%;

        .title__process--second p {
            padding-right: 0;
        }
    }

    .title__cart h1::before {
        content: "<  back";
        color: #605F5F;
        display: flex;
        flex-direction: column;
        top: 120px;
        font-size: 1.4rem;
        font-weight: 500;
        position: absolute;
        left: 42px;
    }
}

@media only screen and (max-width: 470px) {
    .title__process {
        gap: 10px;
        padding-inline: 13px;
        justify-content: space-between;
        width: 100%;

        .title__process--second p {
            display: none;

        }

        .title__process--second span {
            margin-right: 0;
        }

        .title__process--first p {
            padding-right: 50px;
            font-size: 1.5rem;
        }
    }

    .title__cart h1 {
        font-size: 4rem;

    }

}

@media only screen and (max-width: 1025px) {

    .cart__elements {
        // flex-direction: column;

        .card-poducts {

            justify-content: center;
            // width: 100%;

        }
        

         .cart-summary {
            // width: 100%;
            // justify-content: center;
            margin: auto;
        }
        
    }
    .cart .cart__product .cart__tableHeader {
        border-bottom: none;
    }

}

@media only screen and (max-width: 1025px) {
    .price {
        display: none;
    }
    .cart__elements{
        justify-content: space-between;
        .cart-summary{
            margin-inline: 0;
        }
    }

    .subtotal {
        display: none;
    }

    .cart__quantity {
        display: none;
    }

    .cart__product1 {
        display: flex;


    }
    .quantity-button{
        display: block;
    }
    .cart__product1 .info button{
        display: none;
    }

    .cart__product .priceOptions p {
        display: none;


    }

}
@media only screen and (max-width: 645px){
    .cart__elements {
        flex-direction: column;
    }
    .cart .cart__product .cart__tableHeader {
        border-bottom: 1px solid #6C7275;
    }
    .media-price{
        display: block;
       position: absolute;
       right: 20px;
       top: 10px;
        
        
    }
    .cart__product1{
        position: relative;
       
        .info{
           display: flex;
          
            justify-content: space-between;
           
        }
    }
    .cart-media{
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
        margin-top: -55px;
        .coupon{
            margin-top: 0;
        }
    }
    .cart{
        margin-top: 40px;
        .cart-summary{
            margin-top: -30px;
        }
    }
    
    .coupon{
        display: none;
    }
    .coupon-media{
        display: block;
        margin-top: -50px;
        width: 100%;
        justify-content: center;
       

    }

}